<div>
  <div>
    <div class="flex justify-between">
      <h1 class="mb-4">Meine Termine zum {{ topicArea()?.title }} Kurs</h1>
    </div>
    <div class="grid grid-cols-3 gap-4 mb-4">
      <div class="feature-box flex items-center gap-3">
        <div class="flex flex-col gap-1">
          <span class="text-xs">Umsatz gesamt</span>
          <span>
            {{
              topicArea()?.turnover_completed_sessions
                ? topicArea()?.turnover_completed_sessions + " €"
                : "–"
            }}
          </span>
        </div>
      </div>

      <div class="feature-box flex items-center gap-3">
        <div class="flex flex-col gap-1">
          <span class="text-xs">Offene Anfragen</span>
          <span>{{ topicArea()?.requested_count }}</span>
        </div>
      </div>

      <div class="feature-box flex items-center gap-3">
        <div class="flex flex-col gap-1">
          <span class="text-xs">Gesamtvolumen offene Anfragen</span>
          <span>
            {{
              topicArea()?.turnover_requested_sessions
                ? topicArea()?.turnover_requested_sessions + " €"
                : "–"
            }}
          </span>
        </div>
      </div>
    </div>

    <div class="flex gap-3 mb-4 rounded-md px-2 py-2 ring ring-indigo-500/50">
      <app-badge
        (click)="setStatusFilter(null)"
        label="Alle"
        [isButton]="true"
        [isActive]="selectedStatus() === null"
      ></app-badge>
      @for (status of availableStatuses(); track status) {
        <app-badge
          (click)="setStatusFilter(status)"
          variant="{{ status }}"
          label="{{ getStatusTranslation(status) }}"
          [isButton]="true"
          [isActive]="selectedStatus() === status"
        ></app-badge>
      }
    </div>
  </div>

  <div class="flex flex-col gap-3">
    @for (tutoringSession of filteredTutoringSessions();
      track tutoringSession) {
      <a class="custom-card flex justify-between">
        <div>
          <div class="flex flex-row gap-20 mb-3 text-sm">
            <div class="flex flex-col gap-2 min-w-50">
              <span>
                TeilnehmerIn:
                {{ getFullName(tutoringSession.student) || "-" }}
              </span>
              <span>{{ tutoringSession.start_time | date: "dd.MM.yyyy" }}</span>
              <span>
                {{
                  getTimeRange(
                    tutoringSession.start_time,
                    tutoringSession.duration
                  )
                }}
              </span>
            </div>

            <div class="flex flex-col gap-2 mr-2">
              <span>{{
                  tutoringSession.price ? tutoringSession.price + " €" : "–"
                }}</span>
              <span>
                {{ getFullLocation(tutoringSession.location) }}
              </span>
            </div>
          </div>
          <app-badge
            variant="{{ tutoringSession.status }}"
            label="{{ getStatusTranslation(tutoringSession.status) }}"
          ></app-badge>
        </div>
        @if (tutoringSession.status === "requested") {
          <app-button
            variant="secondary"
            label="Anfrage annehmen"
            (click)="updateTutoringSession(tutoringSession)"
          ></app-button>
        }
      </a>
    }
  </div>
</div>
