/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";


html {
  overflow-y: scroll;
}

h1 {
  @apply text-2xl;
}

h2 {
  @apply text-lg;
}

@layer components {
  .sidebar-link {
    @apply flex items-center gap-2 hover:text-gray-50;
  }

  .sidebar-link-active {
    @apply text-gray-50;
  }

  .custom-card {
    @apply border border-slate-700 rounded-md p-4;
  }

  .custom-card:hover {
    @apply border-slate-500;
    box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.179);
  }

  .feature-box {
    @apply border-2 border-slate-700 rounded-md p-4 bg-slate-950;
  }

  .feature-box-item {
    @apply border border-slate-700 bg-gray-950 rounded-md p-4;
  }
}

@layer utilities {
  /*
    .shadow-custom:hover{
    box-shadow: 0px 0px 15px rgba(153, 156, 201, 0.3);
    }
    */
}
