<div>
  <h1 class="mb-4">Meine Termine</h1>
  <div class="flex gap-3 mb-4 rounded-md px-2 py-2 ring ring-indigo-500/50">
    <app-badge
      (click)="setStatusFilter(null)"
      label="All"
      [isButton]="true"
      [isActive]="selectedStatus() === null"
    ></app-badge>
    @for (status of availableStatuses(); track status) {
      <app-badge
        (click)="setStatusFilter(status)"
        variant="{{ status }}"
        label="{{ status }}"
        [isButton]="true"
        [isActive]="selectedStatus() === status"
      ></app-badge>
    }
  </div>
  <div class="flex flex-col gap-3">
    @for (
      tutoringSession of filteredTutoringSessions();
      track tutoringSession
    ) {
      <a class="custom-card">
        <div class="flex justify-between mb-3">
          <h2>{{ tutoringSession.topic_area.title }}</h2>
          <div class="flex items-center gap-2">
            <ng-icon name="heroMapPin" size="15"></ng-icon>
            <span class="text-sm">{{
              getFullLocation(tutoringSession.location)
            }}</span>
          </div>
        </div>
        <div class="flex items-center gap-2 mb-2">
          <ng-icon name="heroUser" size="16"></ng-icon>
          <span class="text-md">{{ getFullName(tutoringSession.tutor) }}</span>
        </div>
        <div class="flex justify-between">
          <div>
            <span class="text-xs">
              {{ tutoringSession?.start_time | date: "dd.MM.yyyy" }} |
              {{
                getTimeRange(
                  tutoringSession.start_time,
                  tutoringSession.duration
                )
              }}
              | {{ tutoringSession?.price }} €
            </span>
          </div>

          <div>
            <app-badge
              variant="{{ tutoringSession.status }}"
              label="{{ tutoringSession.status }}"
            ></app-badge>
          </div>
        </div>
      </a>
    }
  </div>
</div>
